<app-toolbar></app-toolbar>

<br />

<p-dataTable [value]="alunos" [paginator]="true" [rows]="5" [responsive]="true" #tabela>

  <p-column field="id" header="Código" styleClass="col-id"></p-column>
  <p-column field="nome" header="Nome"></p-column>
  <p-column field="endereco" header="Endereço"></p-column>
  <p-column field="email" header="Email"></p-column>
  <p-column field="telefone" header="Telefone"></p-column>

  <p-column styleClass="col-acoes" header="Ações" styleClass="col-acoes">
    <ng-template let-lanc="rowData" pTemplate="body">

      <button pButton icon="fa-trash" pTooltip="Excluir" tooltipPosition="top"
      (click)="confirmarExclusao(lanc.id)"></button>
    </ng-template>
  </p-column>
</p-dataTable>
