<p-toolbar>
  <div class="ui-toolbar-group-left">
      <button pButton type="button" label="Novo" icon="fa-plus"></button>

      <button pButton type="button" label="Voltar para pesquisar" icon="fa fa-arrow-circle-right" Class="ui-button-info" routerLink="/alunos"></button>

  </div>

  <div class="ui-toolbar-group-right">
      <button pButton type="button" icon="fa-search" Class="ui-button-success" ></button>
      <i class="fa fa"></i>

      <button pButton type="button" icon="fa-refresh" Class="ui-button-danger"></button>
      <button pButton type="button" icon="fa-trash" Class="ui-button-warning" ></button>
  </div>
</p-toolbar>
